apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: devkit-ns
  name: file-store-deployment
  labels:
    app: snappy
    name: file-store-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      name: file-store-pod
  template: 
    metadata:
      name: file-store-pod
      labels:
        app: snappy
        name: file-store-pod

    spec:
      containers:
      - name: file-store
        image: snappy.azurecr.io/devkit-file-store:#{Build.BuildId}#
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports: 
          - containerPort: 80
        envFrom:
        - configMapRef:
            name: envvar-configmap
        - secretRef:
            name: api-secrets
        - secretRef:
            name: file-store-secrets
        volumeMounts:
        - mountPath: app/infrastructure
          name: base-settings
        - mountPath: app/configs
          name: file-store-settings
      volumes:
      - name: file-store-settings
        configMap:
          name: file-store-settings-configmap
      - name: base-settings
        configMap: 
          name: base-settings-configmap

---

apiVersion: v1
kind: Service
metadata:
  namespace: devkit-ns
  name: file-store-cluterip
  labels:
    app: snappy
    name: file-store-cluterip

spec:
  type: ClusterIP
  selector:
    app: snappy
    name: file-store-pod
  ports:
    - port: 80
      targetPort: 80

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: file-store-settings-configmap
data:
  appsettings.json: |-
    {
      "AllowedHosts": "*",
      "APIDefinition": {
        "Name": "Devkit File Store API",
        "Description": "File Store API stores user uploaded files.",
        "Version": "v1"
      },
      "ConsulConfiguration": {
        "ConsulHost": "http://consul-clusterip:8500",
        "ServiceName": "file-store-api",
        "DataCenter": "dc1",
        "ServiceId": "devkit.file-store",
        "Port": "80",
        "Tags": [
            "devkit",
            "file-store",
            "internal"
        ],
        "Meta": {
            "version": "1.0.0",
            "sdk": "devkit",
            "type": "shared",
            "domain": "file-store"
        }
      }
    }

---

apiVersion: v1
kind: Secret
metadata:
  namespace: devkit-ns
  name: file-store-secrets
  labels:
    app: snappy
    name: file-store-secrets

data:
  RepositoryOptions__DatabaseName: ZmlsZS1zdG9yZQ==
  RepositoryOptions__ConnectionString: bW9uZ29kYitzcnY6Ly9zbmFwcHktdGVzdDpQYXNzdzByZDEyMyUyNC10ZXN0QHNuYXBweWNsdXN0ZXIuY2dkcjIubW9uZ29kYi5uZXQvZmlsZS1zdG9yZT9yZXRyeVdyaXRlcz10cnVlJnc9bWFqb3JpdHk=
