apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: devkit-ns
  name: vehicles-deployment
  labels:
    app: snappy
    name: vehicles-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      name: vehicles-pod
  template:
    metadata:
      name: vehicles-pod
      labels:
        app: snappy
        name: vehicles-pod

    spec:
      containers:
        - name: vehicles
          image: snappy.azurecr.io/logistics-vehicles:#{Build.BuildId}#
          resources:
            requests:
              memory: '128Mi'
              cpu: '1'
            limits:
              memory: '256Mi'
              cpu: '1'
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: envvar-configmap
            - secretRef:
                name: api-secrets
            - secretRef:
                name: vehicles-secrets
          volumeMounts:
            - mountPath: app/infrastructure
              name: base-settings
            - mountPath: app/configs
              name: vehicles-settings
      volumes:
        - name: vehicles-settings
          configMap:
            name: vehicles-settings-configmap
        - name: base-settings
          configMap:
            name: base-settings-configmap

---
apiVersion: v1
kind: Service
metadata:
  namespace: devkit-ns
  name: vehicles-cluterip
  labels:
    app: snappy
    name: vehicles-cluterip

spec:
  type: ClusterIP
  selector:
    app: snappy
    name: vehicles-pod
  ports:
    - port: 80
      targetPort: 80

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vehicles-settings-configmap
data:
  appsettings.json: |-
    {
      "AllowedHosts": "*",
      "APIDefinition": {
        "Name": "Logistics Vehicles API",
        "Description": "API that stores and processes vehicles information.",
        "Version": "v1"
      },
      "ConsulConfiguration": {
        "ConsulHost": "http://consul-clusterip:8500",
        "ServiceName": "vehicles-api",
        "DataCenter": "dc1",
        "ServiceId": "logistics.vehicles",
        "Port": "80",
        "Tags": [
          "logistics",
          "vehicles",
          "internal"
        ],
        "Meta": {
          "version": "1.0.0",
          "sdk": "logistics",
          "type": "domain",
          "domain": "vehicles"
        }
      }
    }

---
apiVersion: v1
kind: Secret
metadata:
  namespace: devkit-ns
  name: vehicles-secrets
  labels:
    app: snappy
    name: vehicles-secrets

data:
  RepositoryOptions__DatabaseName: dmVoaWNsZXM=
  RepositoryOptions__ConnectionString: bW9uZ29kYitzcnY6Ly9zbmFwcHktdGVzdDpQYXNzdzByZDEyMyUyNC10ZXN0QHNuYXBweWNsdXN0ZXIuY2dkcjIubW9uZ29kYi5uZXQvdmVoaWNsZXM/cmV0cnlXcml0ZXM9dHJ1ZSZ3PW1ham9yaXR5
