apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: devkit-ns
  name: api-cache-pvc
  labels:
    app: snappy
    name: api-cache-pvc

spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi

---
apiVersion: v1
kind: Secret
metadata:
  namespace: devkit-ns
  name: api-cache-secrets
  labels:
    app: snappy
    name: api-cache-secrets

data:
  REDIS_PASSWORD: UGFzc3cwcmQxMjMk

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: devkit-ns
  name: api-cache-deployment
  labels:
    app: snappy
    name: api-cache-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: snappy
      name: api-cache-pod
  template:
    metadata:
      name: api-cache-pod
      labels:
        app: snappy
        name: api-cache-pod

    spec:
      containers:
        - name: api-cache
          image: bitnami/redis:latest
          resources:
            limits:
              memory: '256Mi'
              cpu: '1'
          volumeMounts:
            - mountPath: /redis-master-data
              name: api-cache-volume
            - mountPath: /redis-master
              name: api-cache-volume
          ports:
            - containerPort: 6379
          envFrom:
            - secretRef:
                name: api-cache-secrets
      volumes:
        - name: api-cache-volume
          persistentVolumeClaim:
            claimName: api-cache-pvc

---
apiVersion: v1
kind: Service
metadata:
  namespace: devkit-ns
  name: api-cache-clusterip
  labels:
    app: snappy
    name: api-cache-clusterip

spec:
  type: ClusterIP
  selector:
    app: snappy
    name: api-cache-pod
  ports:
    - port: 6379
      targetPort: 6379
