apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: devkit-ns
  name: rabbitmq-pvc
  labels:
    app: snappy
    name: rabbitmq-pvc

spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi

---
apiVersion: v1
kind: Secret
metadata:
  namespace: devkit-ns
  name: rabbitmq-secrets
  labels:
    app: snappy
    name: rabbitmq-secrets

data:
  RABBITMQ_PASSWORD: UGFzc3cwcmQxMjMk
  RABBITMQ_USERNAME: Z3Vlc3QK

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: devkit-ns
  name: rabbitmq-deployment
  labels:
    app: snappy
    name: rabbitmq-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: snappy
      name: rabbitmq-pod
  template:
    metadata:
      namespace: devkit-ns
      name: rabbitmq-pod
      labels:
        app: snappy
        name: rabbitmq-pod

    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3.8.11-management-alpine
          resources:
            limits:
              memory: '1Gi'
              cpu: '1'
          volumeMounts:
            - mountPath: /var/lib/rabbitmq/mnesia
              name: rabbitmq-storage
          ports:
            - containerPort: 15672
            - containerPort: 5672
      volumes:
        - name: rabbitmq-storage
          persistentVolumeClaim:
            claimName: rabbitmq-pvc

---
apiVersion: v1
kind: Service
metadata:
  namespace: devkit-ns
  name: rabbitmq-clusterip
  labels:
    app: snappy
    name: rabbitmq-clusterip

spec:
  type: ClusterIP
  selector:
    app: snappy
    name: rabbitmq-pod
  ports:
    - port: 5672
      targetPort: 5672
